.App {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  flex-direction: column;
  font-family: "verdana";
}
h1 {
  font-weight: bold;
  font-size: 3rem;
  letter-spacing: -4.5px;
}
form {
  margin: 20px;
}
canvas {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.rgb-array {
  display: flex;
  gap: 20px;
}
.rgb-item {
  height: 120px;
  width: 120px;
  font-size: 30px;
  color: whitesmoke;
}

@media screen and (max-width: 690px) {
  .rgb-array {
    flex-direction: column;
  }
}
